*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

/* header */

#head{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 100px;
}
.img-wid{
    width: 45vw;
    padding: 20px;
}
.h-box_1{
    /* border: 2px solid red; */
    height: 500px;
    width: 50vw;
    padding: 20px;
    /* border: 2px solid red; */
}
.h-text{
    font-size: 2rem;
}
.h-p{
    margin: 10px 0;
    text-align: justify;
}
.btn{
    padding: 5px 25px;
    border: none;
    color: white;
    border-radius: 5px;
    margin: 15px 0;
    font-weight: bold;
    letter-spacing: 1px;
    background-image: linear-gradient(rgb(255, 187, 0),rgb(252, 44, 17) );
    cursor: pointer;
}
/* dream area */

#dream-area{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}
.d-h_2{
    font-size: 1.7rem;
}
.h-padd{
    /* padding-top: 100px; */
    height: 500px;
}

/* experiance */
#experiance{
    height: 600px;
    padding: 60px 40px ;
}
.ex-head{
    font-size: 2rem;
}

.ex-box{
    display: flex;
    justify-content: space-evenly;
    padding: 50px ;
}

.box-wid{
    width: 30vw;
    box-shadow: 10px 0px 30px  black;
    padding: 20px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

#ex-box_1{
    border-left: 6px solid;
    border-image: linear-gradient(crimson,orange);
    border-image-slice: 1;
}
#ex-box_2{
    border-left: 6px solid;
    border-image: linear-gradient(rgb(0, 60, 255),cyan);
    border-image-slice: 1;
}

.ex-head_1{
    font-size: 1.7rem;
    text-transform: capitalize;
}
.ex-p{
    text-align: justify;
}



/* media quarys */
@media screen and (max-width: 650px){
    #head{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .h-box_1{
        padding: 0;
        width: 80vw;
        /* border: 2px solid red */
    }
    .img-wid{
        width: 100vw;
    
    }
    #dream-area{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .h-padd{
        padding-top: 10px;
        padding-left: 10px;
    }
}
@media screen and (max-width: 563px) {
    .h-text{
        font-size: 1.5rem;
    }
    .h-padd{
        padding-top: 10px;
    }
    .img-2{
        position: relative;
        top: 50px;
    }
    .box-wid{
        position: relative;
        right: 40px;
        box-shadow: 10px 5px 30px  black;

    }
}

@media screen and (max-width:800px) {
    .h-padd{
        padding-top: 80px;
        padding-left: 10px;
    }
    .ex-box{
        flex-direction: column;
    }
    .box-wid{
        width: 75vw;
        margin-bottom: 50px;
    }
    #dream-area{
        margin-bottom: 100px;
    }
}    
@media screen and (max-width: 318px) {
    #head{
        margin-bottom: 150px;
    }
    #dream-area{
        margin-bottom: 150px;
        
    }
}
@media screen and (max-width: 342px) {
   
    #dream-area{
        margin-bottom: 150px;
        
    }
}
    




    
