*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

/* header */

#head{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 100px;
}
.img-wid{
    width: 45vw;
    padding: 20px;
}
.h-box_1{
    height: 500px;
    width: 50vw;
    padding: 20px;
}
.h-text{
    font-size: 2rem;
    text-transform: capitalize;
}
.h-p{
    margin: 10px 0;
    text-align: justify;
}
.btn{
    padding: 5px 25px;
    border: none;
    color: white;
    border-radius: 5px;
    margin: 15px 0;
    font-weight: bold;
    letter-spacing: 1px;
    background-image: linear-gradient(rgb(255, 187, 0),rgb(252, 44, 17) );
    cursor: pointer;
}
/* dream area */

#dream-area{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}
.d-h_2{
    font-size: 1.7rem;
}
.h-padd{
    height: 500px;
}

/* experiance */

#experiance{
    height: 600px;
    padding: 60px 40px ;
}
.ex-head{
    font-size: 2rem;
}
.ex-box{
    display: flex;
    justify-content: space-evenly;
    padding: 50px ;
}
.box-wid{
    width: 30vw;
    box-shadow: 10px 0px 30px  black;
    padding: 20px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}
#ex-box_1{
    border-left: 6px solid;
    border-image: linear-gradient(crimson,orange);
    border-image-slice: 1;
}
#ex-box_2{
    border-left: 6px solid;
    border-image: linear-gradient(rgb(0, 60, 255),cyan);
    border-image-slice: 1;
}
.ex-head_1{
    font-size: 1.7rem;
    text-transform: capitalize;
}
.ex-p{
    text-align: justify;
}

/* skils */

#skils{
    height: 600px;
    width: 100%;
}
.s-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 400px;
    text-align: center;
}
.s-head{
    font-size: 2.2rem;
    padding: 40px 40px;
    font-family: 'Pushster', cursive;
}
.s-head_1{
    text-transform: uppercase;
    color: red;
    font-family: 'Pushster', cursive;
}
.git{
    border-radius: 50%;
}
.s-text{
    font-size: 1.4rem;
    text-transform: uppercase;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 1px;
}

/* media quarys */

@media screen and (max-width:800px) {
    .h-padd{
        padding-top: 80px;
        padding-left: 10px;
    }
    .ex-box{
        flex-direction: column;
    }
    .box-wid{
        width: 75vw;
        margin-bottom: 50px;
    }
    #dream-area{
        margin-bottom: 100px;
    }
}    

@media screen and (max-width: 850px) {
    #experiance{
        margin-bottom: 100px;
    }   
    .s-img{
        width: 20vw;
    }
}

@media screen and (max-width: 650px){
    #head{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .h-box_1{
        padding: 0;
        width: 80vw;
    }
    .img-wid{
        width: 100vw;
    }
    #dream-area{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .h-padd{
        padding-top: 20px;
        padding-left: 10px;
    }
    #skils{
        height: 1000px;
        padding-top: 50px;
        position: relative;
        bottom: 180px;
        text-align: center;
    }
    .s-head{
        font-size: 2.5rem;
    }
 
    .s-container{
        flex-direction: column;
        height: 1000px;
        width: 100vw;
    }
    
    #experiance{
        margin-bottom: 170px;
        position: relative;
        bottom: 100px;
    }
    .s-img{
        width: 30vw;
    }
}
@media screen and (max-width: 563px) {
    .h-text{
        font-size: 1.5rem;
    }
    .h-padd{
        padding-top: 35px;
    }
    #dream-area{
        position: relative;
        bottom: 200px;

    }
    #experiance{
        position: relative;
        bottom: 350px;
    }
    .img-2{
        position: relative;
        top: 50px;
    }
    .box-wid{
        position: relative;
        right: 40px;
        box-shadow: 10px 5px 30px  black;

    }
    #skils{
        position: relative;
        bottom: 400px;
        height: 800px;
    }

}
@media screen and (max-width:518px){
    
    #skils{
        padding-top: 180px;
        position: relative;
    }
    .s-img{
        width: 40vw;
    }
} 
@media screen and (max-width: 430px) {
    #dream-area{
        position: relative;
        bottom: 150px;
    }
    #experiance{
        position: relative;
        bottom: 250px;
    }
    #skils{
        position: relative;
        bottom: 300px;
        height: 800px;
    }
}

@media screen and (max-width: 385px){
    
    #skils{
        position: relative;
        bottom: 180px;
        height: 800px;
    }
}

@media screen and (max-width: 370px) {
   
    #dream-area{
        bottom: 80px;
    }
    #experiance{
        position: relative;
        bottom: 180px;
    }
    #skils{
        bottom: 80px;
    }
}

@media screen and (max-width: 350px) {
    #experiance{
        position: relative;
        bottom: 120px;
    }
    #skils{
        bottom: -25px;
    }
}

    

